$step-size: 200px;

.timeline {
  &__steps {
    display: flex;
    > div {
      position: relative;
      width: $step-size;
      height: $step-size;
      @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
          left: (-$step-size/2) * $i;
        }
      }
      &:nth-child(2n) {
        bottom: -$step-size/2;
      }
    }

    &--start, &--end {
      line-height: $step-size;
      font-weight: bold;
      color: white;
      padding: 0 20px;
    }

    &--start {
      background: green;
      text-align: right;
      clip-path: polygon($step-size/2 0px, $step-size $step-size/2, $step-size/2 $step-size);
    }

    &--end {
      background: blue;
      cursor: pointer;
      clip-path: polygon(0px $step-size/2, $step-size/2 0px, $step-size $step-size/2, $step-size/2 $step-size);
    }
  }
}

.single-step {
  display: flex;
  position: relative;


  &__image {
    width: $step-size;
    height: $step-size;
    overflow: hidden;
    clip-path: polygon(0px $step-size/2, $step-size/2 0px, $step-size $step-size/2, $step-size/2 $step-size);

    img {
      height: 100%;
    }
  }
}
