$textColor: #7a7a7a;

.project text {
    fill: $textColor;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.project {
  > svg {
    height: 1080px;
    .project__background {
      rect {
        fill: #2b2b2b;
      }
      text {
        font-size: 100px;
      }
    }
  }
}

.project svg .projector {
  > rect {
    fill: #ff9955;
  }
  > text {
    font-size: 70px;
  }
  .grid {
    .rows, .cols {
      stroke: red;
      stroke-width: 2;
    }
    rect {
      fill: green;
    }
  }
}
