@import "../../colors.scss";

.app-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background: #262626;
  text-align: center;

  > * {
    padding: 30px 20px;

    svg {
      display: block;
      margin: 0 auto 10px auto;
      width: 80px;

      path {
        fill: $link-active;
      }
    }
  }

  > .active, > *:hover {
    background: #505050;
    svg {
      path {
        fill: $link-hover;
      }
    }
  }
}
