@import "./colors.scss";

* {
  box-sizing: border-box;
}

html, body, #app {
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $link-active;
  &:hover {
    color: $link-hover;
  }
}
